.hero-section {
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.hero-service-section::before {
    background-color: rgba(0, 0, 0, 0.1);
}

.mask-image {
    mask-image: url('/img/mask.svg');
    mask-position: 0% 0%;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    --webkit-mask-image: url('/img/mask.svg');
    --webkit-mask-position: 0% 0%;
    --webkit-mask-size: 100% 100%;
    --webkit-mask-repeat: no-repeat;
}


.hamburger {
    position: relative;
    width: 42px;
    height: 42px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 8px;
        background: #262F20;
        background: -webkit-linear-gradient(to right, #536f40, #262F20);
        background: linear-gradient(to right, #536f40, #262F20);
        transform: rotate(0deg);
        transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
    }

    .hamburger-input {
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }

    .hamburger-line {
        width: 100%;
        background: #fff;
        height: 2px;
        display: block;
        border-radius: 6px;
        transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
        position: relative;

        &.first,
        &.third {
            width: 50%;
        }

        &.third {
            margin-left: 50%;
            transform-origin: left;
        }
    }
}

.menu-button-wrapper {
    position: relative;
    display: inline-block;
    /* display: none; */
    .item-list {
        position: absolute;
        top: 90px;
        transform: scale(0);
        transform-origin: center;
        transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
        background-color: #303242;
        color: #fff;
        width: 100vw;
        left: -34vw;
        padding: 15px 0;
        font-weight: 300;
        opacity: 0;
        user-select: none;

        div {
            padding: 10px 30px;
            cursor: pointer;
        }
    }

    .menu-button {
        position: absolute;
        width: 42px;
        height: 42px;
        left: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }


}

.menu-button {

    &:checked~.icon-wrapper .hamburger-line.second {
        transform: rotate(-45deg);
    }

    &:checked~.icon-wrapper .hamburger-line.first {
        transform: translate(1.75px, 4.75px) rotate(-135deg);
    }

    &:checked~.icon-wrapper .hamburger-line.third {
        transform: translate(6px, -1.75px) rotate(-135deg);
    }

    &:checked~.icon-wrapper .hamburger:before {
        transform: rotate(45deg);
    }
}


@media (min-width: 768px){
    .menu-button-wrapper{
        display: none;
    }
}

#navbar-default{
    transition: 0.75s ease-in-out;
}


